.section-1 {
    display: flex;
}
.side-bar-container {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    width: 80px;
    z-index: 1;
}
.side-bar-element-container {
    height: 76px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 3px;
    flex-direction: column;
}
.side-bar-element-container:hover {
    background-color: #00000010; 
    border-radius: 10px;
}
.side-icons {
    width: 24px;
    height: 24px;
}
.side-bar-text {
    font-size: 9px;
    font-weight: 400;
    color: #000000;
}
.video-time {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 20px;
    right: 20px;
    padding: 4px 4px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 13px;
    row-gap: 50px;
}
@media (max-width: 749px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 750px) and (max-width: 1024px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1025px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-card {
    max-width: 355px;
    cursor: pointer;
}
.video-1-cont {
    position: relative;
}
.video-1 {
    width: 100%;
    border-radius: 15px; 
}
.video-time-text {
    align-self: center;
    margin: 0;
    font-size: 11px;
    font-weight: 700;
}
.details-contianer {
    max-width: 340px;
    display: grid;
    grid-template-columns: 45px 1fr;
}
.pic-1 {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.box-text-cont {
    min-width: 20px;
    margin-left: 5px;
}
@media (min-width: 431px) and (max-width: 1024px) {
    .box-text-cont {
        min-width: 120px;
    }
}
.box-topic {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2.5px;
}
.box-text {
    color: #606060;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
}